
.all{
    letter-spacing: 0.6px;
    font-size: 16px;
    color: #333;
}

/* 头部导航样式 */

.nav{
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    z-index: 99;
    /* box-shadow:0px -1px 1px rgb(160, 160, 160) inset; */
}

.mc{
    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .1;
    filter:alpha(opacity=10);
    z-index: 98;
}
.head{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    
}
.logo{
    margin-left: 100px;
    line-height: 80px;
}
/* .logo img {
    height: 24px;
} */
.head ul{
    width: 830px;
}

.nav ul a{
    float: left;
    height: 90px;
    line-height: 90px;
    text-align: center;
    margin: 0 30px; 
}
.nav ul a p{
    display: inline-block;
    color: #fff;
    font-size: 16px;
}
.nav ul a p:hover{
    color:#ffb882;
}
/* banner模块*/
.banner{
    width: 100%;
    height: 580px;
    background:url("../img/about/5-banner.png") no-repeat center;
    overflow: hidden;
}


/* 内容模块 */
.list_1{
    width: 100%;
    margin: 0 auto;
    background:url("../img/about/5-1.png") no-repeat center;
}
.list_1 .content{
    height: 646px;
    overflow: hidden;
    margin: 0 auto;

}
.list_1 .content h3{
    font-weight: normal;
    font-size: 32px;
    color: #323948;
    margin-top: 60px;
    letter-spacing: 2px;
}
.h_line{
    width: 82px;
    height: 4px;
    margin: 15px auto 0px;
    background-color: #b39b66
}
.list_1 .container{
    margin-top: 45px;
    text-align: left;
}
.list_1 .container .l_wrap{
    width: 600px;
    padding: 10px;
}
.list_1 .container .l_wrap p{
    font-size: 14px;
    line-height: 26px;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.list_1 .container .r_wrap{
    width:493px;
    margin-left: 80px;
    font-size: 14px; 
}
.list_1 .container .r_wrap .job{
    width: 125px;
    height: 27px;
    margin-top: 20px;
    line-height: 27px;
    font-size: 16px;
    text-align: center;
    color: #d2b474;
	border: solid 1px #d2b474;
}
.list_1 .r_wrap .member{
    margin: 20px 0;
}
.list_1 .r_wrap .member .name{
    width: 58px;
}
.list_1 .r_wrap .member .dec{
    width: 400px;
}



.list_2{
    width: 100%;
    margin: 0 auto;
    background:url("../img/about/5-2.png") no-repeat center;
}
.list_2 .content{
    height: 691px;
    overflow: hidden;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;

}
.list_2 .content h3{
    font-weight: normal;
    font-size: 32px;
    color: #fff;
    margin-top: 60px;
    letter-spacing: 2px;
}
.h_line{
    width: 82px;
    height: 4px;
    margin: 15px auto 0px;
    background-color: #b39b66
}
.list_2 .container{
    margin-top: 45px;
    text-align: left;
}
.list_2 .container .l_wrap{
    width: 600px;
    padding: 10px;
}
.list_2 .container .l_wrap p{
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.list_2 .container .l_wrap h4{
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: normal;
}
.list_2 .container .l_wrap .text{
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    letter-spacing: 1px;
}
.list_2 .container .r_wrap{
    width:493px;
    margin-left: 80px;
    font-size: 14px; 
}
.list_2 .container .r_wrap .job{
    width: 280px;
    height: 27px;
    margin-top: 20px;
    margin-bottom: 28px;
    line-height: 27px;
    font-size: 16px;
    text-align: center;
    color: #d2b474;
	border: solid 1px #d2b474;
}
.list_2 .r_wrap .member{
    margin: 20px 0;
}
.list_2 .r_wrap .member .name{
    width: 58px;
}
.list_2 .r_wrap .member .dec{
    width: 400px;
}


.list_3{
    width: 100%;
    margin: 0 auto;
    background:url("../img/about/5-3.png") no-repeat center;
}
.list_3 .content{
    height: 584px;
    overflow: hidden;
    margin: 0 auto;

}
.list_3 .content h3{
    font-weight: normal;
    font-size: 32px;
    color: #323948;
    margin-top: 60px;
    letter-spacing: 2px;
}
.h_line{
    width: 82px;
    height: 4px;
    margin: 15px auto 0px;
    background-color: #b39b66
}


.list_3 .container{
    margin-top: 45px;
    text-align: left;
}
.list_3 .container .text_wrap{
    width: 600px;
    padding: 10px;
}
.list_3 .container .text_wrap p{
    font-size: 14px;
    line-height: 26px;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 35px;
}






/* foot模块 */
.foot_wrap{
    width: 100%;
    min-width: 1200px;
    /* height: 246px; */
    overflow: hidden;
    background-color: #373d41;
}
.foot{
    width: 1200px;
    margin: 0 auto;
    height: 286px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #ddd;
}
.foot .a_wrap{
    margin-top: 40px;
}
.foot a{
    color: #ddd;
    display:inline-block;
    margin-right: 60px;
}
.foot a:hover{
    color: #ffc15f;
}
.foot .foot_line{
    width: 100%;
    height: 1px;
    background-color: #666;
    margin-top: 30px;
}
.foot .mt30{
    margin-top: 30px;
}
.foot .mt20{
    margin-top: 20px;
}
.foot .mt20 a{
    color: #fff;
    display:inline-block;
    margin-right: 0px;
}

