
.all{
}
/* 头部导航样式 */
.nav{
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    z-index: 99;
    /* box-shadow:0px -1px 1px rgb(160, 160, 160) inset; */
}

.mc{
    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .1;
    filter:alpha(opacity=10);
    z-index: 98;
}
.head{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    
}
.logo{
    margin-left: 100px;
    line-height: 80px;
}
.logo img {

    height: 30px;
}
.head ul{
    width: 830px;
}

.nav ul a{
    float: left;
    height: 90px;
    line-height: 90px;
    text-align: center;
    margin: 0 30px; 
}
.nav ul a p{
    display: inline-block;
    color: #fff;
    font-size: 18px;
}
.nav ul a p:hover{
    color:#ffb882;
}
/* banner模块*/
.banner{
    width: 100%;
    height: 410px;
    background:url("../img/course_banner.png") no-repeat center;
    overflow: hidden;
}


/* 内容模块 */
.list_1{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
.list_1 .content{
    height: 730px;
    overflow: hidden;
}
.list_1 .content h3{
    font-weight: normal;
    font-size: 26px;
    color: #333;
    margin-top: 70px;
}
.h_line{
    width: 82px;
    height: 4px;
    margin: 15px auto 0px;
    background-color: #b39b66
}
.list_1 ul{
    height: 424px;
    margin-top: 80px;
    /* background-color: #888; */
}
.list_1 ul li{
    width: 242px;
    padding-left: 32px;
    padding-right: 22px;
    height: 424px;
    float: left;
    text-align: left;
    color: #888;
    /* background-color: yellowgreen; */
}
.list_1 ul li h4{
    font-weight: normal;
    font-size: 18px;
    margin: 45px 0 30px;
    color: #666;
}
.list_1 ul li p{
    font-size: 14px;
    line-height: 2;
}
.list_1 .btn{
    width: 150px;
    height: 50px;
    margin-top: 95px;
    background-color: #e4e4e4;
    /* background-color: rgb(118, 149, 250); */
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.list_1 .btn:hover{
    background-color: #f0f0f0;
}
.s_line{
    width: 2px;
    height: 405px;
    line-height: 424px;
    float: left;
    vertical-align: top;
    margin-top: 8px;
    /* vertical-align: middle; */
    background-color: #f1f2f7;
}






























/* foot模块 */
.foot_wrap{
    width: 100%;
    min-width: 1200px;
    /* height: 246px; */
    overflow: hidden;
    background-color: #373d41;
}
.foot{
    width: 1200px;
    margin: 0 auto;
    height: 286px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #ddd;
}
.foot .a_wrap{
    margin-top: 40px;
}
.foot a{
    color: #ddd;
    display:inline-block;
    margin-right: 60px;
}
.foot a:hover{
    color: #ffc15f;
}
.foot .foot_line{
    width: 100%;
    height: 1px;
    background-color: #666;
    margin-top: 30px;
}
.foot .mt30{
    margin-top: 30px;
}
.foot .mt20{
    margin-top: 20px;
}
.foot .mt20 a{
    color: #fff;
    display:inline-block;
    margin-right: 0px;
}

