
.all{
    letter-spacing: 0.6px;
    font-size: 16px;
    position: relative;
    color: #333;
}

/* 头部导航样式 */

.nav{
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    z-index: 99;
    /* box-shadow:0px -1px 1px rgb(160, 160, 160) inset; */
}

.mc{
    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .1;
    filter:alpha(opacity=10);
    z-index: 98;
}
.head{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    
}
.logo{
    margin-left: 100px;
    line-height: 80px;
}
/* .logo img {
    height: 24px;
} */
.head ul{
    width: 830px;
}

.nav ul a{
    float: left;
    height: 90px;
    line-height: 90px;
    text-align: center;
    margin: 0 30px; 
}
.nav ul a p{
    display: inline-block;
    color: #fff;
    font-size: 16px;
}
.nav ul a p:hover{
    color:#ffb882;
}
/* banner模块*/
.banner{
    width: 100%;
    height: 580px;
    background:url("../img/quality/4-banner.png") no-repeat center;
    overflow: hidden;
}


/* 内容模块 */
.list_1{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
.list_1 .content{
    height: 550px;
    overflow: hidden;
    margin: 0 auto;
}
.list_1 .content h3{
    font-weight: normal;
    font-size: 32px;
    color: #323948;
    margin-top: 60px;
    letter-spacing: 2px;
}
.h_line{
    width: 82px;
    height: 4px;
    margin: 15px auto 0px;
    background-color: #b39b66
}
.list_1 .container{
    margin-top: 12px;
    height: 354px;
    overflow: hidden;
    background:url("../img/quality/4-01.png") no-repeat right;
}
.list_1 .container h4{
    padding-left: 20px;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 30px;
}
.list_1 .container p{
    width: 756px;
    padding: 0 20px;
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    /* color: #fff; */
    letter-spacing: 1px;
    margin-bottom: 35px;
    color: #666;
}

.list_2{
    width: 100%;
    /* height: 539px; */
    margin: 0 auto;
  
}
.list_2 .content{ 
    position: relative; 
    height: 539px;
    width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
}
.list_2 .l_bg{
    position: absolute;
    width: 553px;
    height: 539px;
    top: 0px;
    left: -360px;
    z-index: -2;
    background:url("../img/quality/4-2.png") no-repeat right;
}
.list_2 .r_bg{
    position: absolute;
    z-index: -1;
    width: 1560px;
    height: 495px;
    left: 0;
    top: 25px;
    background:#2a3655;
}

.list_2 .container{
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 0;
    left: 0;
    margin-top: 95px;
    text-align: left;
}
.list_2 .container .l_wrap{
    width: 480px;
    padding-left: 100px;
}
.list_2 .container .l_wrap p{
    font-size: 14px;
    line-height: 27px;
    /* color: #666; */
    letter-spacing: 1px;
    margin-bottom: 35px;
}
/* 解决x5内核字体放大问题 */
.list_2 .container .l_wrap p{
    max-height: 1000000px;
}
.list_2 .container .l_wrap p::before,.list_2 .container .l_wrap p::after{
    max-height: 1000000px;
}
.list_2 .container .r_wrap{
    width:493px;
    margin-left: 80px;
    font-size: 14px; 
}
.list_2 .container .r_wrap .job{
    width: 280px;
    height: 27px;
    margin-top: 20px;
    margin-bottom: 28px;
    line-height: 27px;
    font-size: 16px;
    text-align: center;
    color: #d2b474;
	border: solid 1px #d2b474;
}
.list_2 .r_wrap .member{
    margin: 15px 0;
}
.list_2 .r_wrap .member .name{
    width: 58px;
}
.list_2 .r_wrap .member .dec{
    width: 400px;
}
.mb20{
    margin-bottom: 15px;
}



.list_3{
    width: 100%;
    /* height: 539px; */
    margin: 0 auto;
  
}
.list_3 .content{ 
    position: relative; 
    height: 539px;
    width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
}

.list_3 .content .l_wrap{
    width: 533px;
    height: 539px;
    background:url("../img/quality/4-5.png") no-repeat center;
}
.list_3 .content .r_wrap{
    width: 600px;
    margin-left: 50px;
    /* background-color: #eee; */
    text-align: left;
}
.list_3 .content .r_wrap h4{
    font-size: 20px;
    font-weight: normal;
    margin-top: 170px;
    margin-bottom: 40px;
}
.list_3 .content .r_wrap p{
    font-size: 14px;
    line-height: 27px;
    color: #666;
}


.list_4{
    width: 100%;
    margin: 0 auto;
    background:url("../img/quality/4-6.png") no-repeat center;
}
.list_4 .content{
    height: 996px;
    overflow: hidden;
    margin: 0 auto;
    color: #fff;

}
.list_4 .content h3{
    font-weight: normal;
    font-size: 32px;
    color: #fff;
    margin-top: 60px;
    letter-spacing: 2px;
}
.h_line{
    width: 82px;
    height: 4px;
    margin: 15px auto 0px;
    background-color: #b39b66
}
.list_4 .container .p{   
    padding: 0 20px;
    margin-top: 34px;
    line-height: 28px;
	letter-spacing: 1px;
}
.list_4 .container .wrap{
    position: relative;
    margin-top: 70px;
}
.list_4 .container .top_wrap{
    height: 470px;
}
.list_4 .l_box{
    text-align: right;
}
.list_4 .r_box{
    text-align: left;
}
.list_4 .l_box div,.list_4 .r_box div{
    width: 340px;
    font-size: 14px;
    margin-top: 45px;
    margin-bottom: 90px;
}
.list_4 .bottom_wrap{
    width: 472px;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.list_4 .bottom_wrap h4{
    text-align: center;
}
.list_4 .container h4{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}
.list_4 .container .top_wrap p,.list_4 .container .bottom_wrap p {
    line-height: 28px;
} 
.list_4 .container .center{
    background:url("../img/quality/4-7.png") no-repeat center;
    width: 470px;
    height: 376px;
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -235px;
}
/* foot模块 */
.foot_wrap{
    width: 100%;
    min-width: 1200px;
    /* height: 246px; */
    overflow: hidden;
    background-color: #373d41;
}
.foot{
    width: 1200px;
    margin: 0 auto;
    height: 286px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #ddd;
}
.foot .a_wrap{
    margin-top: 40px;
}
.foot a{
    color: #ddd;
    display:inline-block;
    margin-right: 60px;
}
.foot a:hover{
    color: #ffc15f;
}
.foot .foot_line{
    width: 100%;
    height: 1px;
    background-color: #666;
    margin-top: 30px;
}
.foot .mt30{
    margin-top: 30px;
}
.foot .mt20{
    margin-top: 20px;
}
.foot .mt20 a{
    color: #fff;
    display:inline-block;
    margin-right: 0px;
}

